*.sublime-workspace
_archive_
_build_

.gitignore
.gitattributes

# Directories generated during compile
Working
source
lib

#setup
SetupRYB.sb~
SetupRYB.csv
SetupRYB.htm

# Examples executables will have to be recompiled
NameAttributes.exe
rybGTQT.exe

RybProg.Tpl
TemplateMaker.Tpl
CB_AltFix.TPL

.*
LICENSE
README.md

############
## Clarion
############
*.txt
*.bct
*.json
*.xml
*.txa
*.exp
*.FileList.xml
*.MAP
#*.exe
**/Cla*.dll
*.ini
*.cache
obj/**
*/obj/**
*.obj
*.rsc
*.RSC
*.bpp
*.ap~
PWEE*.txt
program.clw

############
## Windows
############
# Windows image file caches
Thumbs.db
win/Template/RYB_TESTING.TPW
