*.sublime-workspace
_archive_

.gitignore
.gitattributes

RybProg.Tpl
TemplateMaker.Tpl
CB_AltFix.TPL

.*
LICENSE
README.md

############
## Clarion
############
*.FileList.xml
*.MAP
*.exe
**/Cla*.dll
*.ini
*.cache
obj/**
*/obj/**
*.obj
*.rsc
*.RSC
*.bpp
*.ap~
PWEE*.txt
program.clw

############
## Windows
############
# Windows image file caches
Thumbs.db
